body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Dyngo";
  src: url("_components/_assets/font/cocogoose-regular.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Dyngo";
  src: url("_components/_assets/font/cocogoose-bold.woff2");
  font-style: bold;
  font-weight: 800;
}
